html,
body {
	margin: 0;
	padding: 0;
}

a,
h1,
h2,
h3,
h4,
h5,
p,
span,
small {
	font-family: "Adobe 黑体 Std";
}

/* 设置背景颜色于宽高为屏幕宽高 */
body {
	background-color: #e9f6ff;
	width: 100%;
	height: 100%;
}


/* 页体 */
.bodyer {
	width: 80vw;
	height: auto;
	margin: 3.125rem auto;
}

/* 背景样式 */
.content_left {
	order: 2;
	height: auto;
}

.content_left .box_left {
	padding-right: 1.25rem;
	padding-bottom: 1.25rem;
}

.content_left .box_left .box_left_1 {
	height: auto;
	padding-bottom: 1.5rem;
	border-radius: 20px;
	background-color: #ffffff;
	border: 1px solid #E7E7E7;
	/*让内部组件居中*/
	text-align: center;
}

.content_left .box_left .box_left_1 .headicon {
	/*让内部组件居中*/
	text-align: center;
}

.content_left .box_left .box_left_1 .headicon img {
	margin: 3rem auto;
	width: 9.375rem;
	height: 9.375rem;
	border-radius: 4.6875rem;
	border: 1px solid #E7E7E7;
}

.content_middle {
	order: 1;
	height: auto;
}

.content_middle .box_content {
	padding-left: 1.25rem;
	padding-right: 1.25rem;
	padding-bottom: 1.25rem;
}

.content_middle .box_content .box_content_1 {
	height: auto;
	border-radius: 20px;
	background-color: #ffffff;
	border: 1px solid #E7E7E7;
	/*让内部组件居中*/
	text-align: center;
}

.content_middle .box_content .box_content_1 span {
	width: 100%;
	height: 0.125rem;
	background-color: #E7E7E7;
	margin: 10px 0px;
	display: block;
}

.content_middle .box_content .box_content_1 .content_title {
	text-align: center;
}

.content_middle .box_content .box_content_1 .content_title img {
	width: 4rem;
	height: 4rem;
	margin-right: 1rem;
	background-color: #F60;
	border-radius: 2rem;
}

.content_middle .box_content .box_content_1 .content_text {
	padding: 0 1rem;
	min-height: 31.25rem;
}

.box_form {
	margin: auto;
}

.box_form textarea {
	resize: none;
	readOnly: readonly;
}

.center_btn {
	display: flex;
	flex-flow: row;
	flex-wrap: nowrap;
	justify-content: space-around;
}

.content_right {
	order: 3;
	height: auto;
}

.content_right .box_right {
	padding-left: 1.25rem;
	padding-bottom: 1.25rem;
}

.content_right .box_right .box_right_1 {
	height: auto;
	padding-bottom: 1.5rem;
	border-radius: 20px;
	background-color: #ffffff;
	border: 1px solid #E7E7E7;
	/*让内部组件居中*/
}

.content_right .box_right .box_right_1 .hot h3{
	text-align: center;
}

.content_right .box_right .box_right_1 .hot span {
	width: 100%;
	height: 0.125rem;
	background-color: #E7E7E7;
	margin: 10px 0px;
	display: block;
}

.list-group-item img {
	margin-right:5px;
}

/*页脚*/
.footer-agile {
	padding: 4em 0;
	background-image: url("../img/fbg.png");
	background-repeat: no-repeat;
}

.footer-grid h3 {
	font-size: 1.9em;
	color: #FFFFFF;
	margin-bottom: 1em;
	font-family: 'Merriweather', serif;
}

@media (max-width: 991px) {
	.footer-grid h3 {
		font-size: 1.7em;
	}
}

.footer_form ul,
.footer-agile label {
	margin: 0;
	padding: 0;
}

.footer-grid li {
	color: #fff;
	display: block;
	margin: 1.2em 0 0;
	font-size: 1em;
	letter-spacing: 1px;
}

@media (max-width: 414px) and (min-width: 360px) {
	.footer-grid li {
		font-size: 1.2vmax;
	}

	.footer-grid p {
		font-size: 1rem;
	}
}

.footer-grid li a {
	color: #fff;
}

.footer-grid li a:hover {
	color: #ff6b6b;
}

.footer-grid li i {
	margin-right: 1em;
	font-size: .9em;
}

.footer-grid p {
	color: #fff;
	font-family: 'Open Sans', sans-serif;
	display: block;
	-webkit-margin-before: 1em;
	-webkit-margin-after: 1em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
}

.footer-grid p.w3l-para-mk {
	margin-top: 1.5em;
}

.footer-agile form {
	margin-top: 30px;
	background: #fff;
	padding: 6px 10px;
	position: relative;
	border-radius: 50px;
}

.footer-agile form input {
	overflow: visible;
}

.footer-agile form input[type="email"] {
	border: none;
	padding: 4px;
	width: calc(98% - 100px);
}

.footer-agile form input[type="submit"] {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	border: 0;
	background: none;
	font-size: 1.8rem;
	padding: 0 20px;
	margin: 3px;
	background: #68A4C4;
	color: #fff;
	transition: 0.3s;
	border-radius: 50px;
	max-width: 90%;
}


.cd-top {
	display: inline-block;
	height: 40px;
	width: 40px;
	position: fixed;
	bottom: 40px;
	right: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;
	background: rgba(232, 98, 86, 0.8) url(../img/cd-top-arrow.svg) no-repeat center 50%;
	visibility: hidden;
	opacity: 0;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.cd-top.cd-is-visible {
	visibility: visible;
	opacity: 1;
}

.cd-top.cd-fade-out {
	opacity: .5;
}

.no-touch .cd-top:hover {
	background-color: #e86256;
	opacity: 1;
}

@media only screen and (min-width: 768px) {
	.cd-top {
		right: 20px;
		bottom: 20px;
	}
}

@media only screen and (min-width: 1024px) {
	.cd-top {
		height: 60px;
		width: 60px;
		right: 30px;
		bottom: 30px;
	}
}
